/* ---------- CONTACTO ---------- */

.contacto-main-div{
    display: flex;
    width: 50%;
}

.contacto-h1{
    color: #17171a;
    font-size: 3rem;
}

.contacto-main {
    padding-bottom: 2%;
 width: 50%;   
}

.contacto-form{
    padding-bottom: 2%;
    width: 50%;
    justify-content: center;
    border-left: 10px #777;
}

.contacto-form-container {
    display: block;  
    margin-right: 4%;  
    margin-left: 4%;
    justify-content: center;
}

.contacto-form-container-flex {
    display: flex;  
    margin-right: 4%;  
    margin-left: 4%;
}

.contacto-div-title {
    display: flex;
    justify-content: flex-start;
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 4%;
}

.contacto-form-botton {
    height: auto;
    margin: 0;
    padding: .8rem;  
    color: white;
    background-color: var(--light-cofee);
    font-family: "Oswald", sans-serif;
    font-size: 1.4rem;
    margin-bottom: 2%;  
    width: 20%; 
}

.contact-line {
    display: block;
    flex: 1 1 auto;
    border-bottom: 1px solid;
    text-align: left;
    overflow-x: hidden;
    margin: 0;
    place-self: center;
    color:  rgba(129, 129, 129, .2);
    margin-left: 2%;      
}

.contacto-form-line{ 
    justify-content: center;
    height: 100%;
    background-color:  rgba(129, 129, 129, .2);
    padding-bottom: 80%;
    justify-content: center; 
    height: 100%;
    width: 3px;
    margin: 2%;
}

.contacto-form-input {
    padding: 0 15px;
    max-width: 100%;
    width: 90%;
    height: 42px;
    border: 2px solid rgba(129, 129, 129, .2);
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    vertical-align: middle;
    font-size: 14px;  
}
.contacto-form-textarea {
    max-width: 100%;
    width: 90%;
    height: 190px;
    border: 2px solid rgba(251, 126, 126, 0.2);
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    vertical-align: middle;
    font-size: 14px;
    overflow: auto;
    padding: 10px 15px; 
}

.contacto-social-icon-face {
    background-color: black;
    display: inline-block;
    border-radius: 100%;
}

.contacto-social-icon-ig {
    background-color: black;
    display: inline-block;
    border-radius: 20%;
    
}
.contacto-icons-container {
display: block;
}

.contacto-icons-div {
    margin: 5%;
}
