html {
    font-family: "Oswald", sans-serif;
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #17171a;
    --beige: #b2927a;
    --dark-beige: #977260;
    --ligh-beige: #f8e1cf;
    --light-cofee: #d0a35e;
    --cofee: #54341f;
    --gray: #faf9f8;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-bolder: 900;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

/* ---------- NAVBAR ---------- */

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: var(--black);
}

.navbar__a {
    font-size: 2rem;
    margin: 4rem 2vw;
    width: 15%;
    text-decoration: none;
    text-align: center;
    color: var(--light-cofee);
}

.navbar_ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 85%;
}

.navbar_ul_li {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin: 0 20px;
}

.navbar_ul_li__a {
    font-size: 1.4rem;
    font-weight: var(--fw-regular);
    text-decoration: none;
    color: var(--light-cofee);
    transition: all .4s;
}

.navbar_ul_li__a:hover {
    color: var(--ligh-beige);
}

/* ---------- FOOTER ---------- */

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--cofee);
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 2rem 4vw 1rem;
}

.footer-container h2 {
    width: 15%;
}

.footer-ul-li {
    list-style: none;
}

.footer-ul-li__a {
    font-size: 1.4rem;
    font-weight: var(--fw-light);
    color: var(--ligh-beige);
    text-decoration: none;
}

.footer-p-container {
    border-top: 1px solid var(--light-cofee);
    padding: 2rem 0;
}

.footer-p-container p {
    font-size: 1.2rem;
    font-weight: var(--fw-light);
    margin: 0 4vw;
}

.suscribe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-footer {
    display: flex;
    flex-direction: row;
    height: 4rem;
}

.form-footer input {
    height: auto;
    margin: 0;
    padding: .8rem;
    border: 2px solid var(--black);
    width: 30vw;
}

.form-footer button {
    height: auto;
    margin: 0;
    padding: .8rem;
    border: 2px solid var(--black);
    background-color: var(--black);
    color: var(--light-cofee);
    font-family: "Oswald", sans-serif;
    font-size: 1.4rem;
}

.social-icons-container {
    display: flex;
    flex-direction: row;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-beige);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 1rem;
}

.social-icon img {
    width: 32px;
    height: 32px;
}