html {
    font-family: "Oswald", sans-serif;
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 10rem 0 0;
    background-color: var(--very-ligh-beige);
}

* {
    box-sizing: border-box;
}

:root {
    --black: #42424b;
    --white: white;
    --cofee: #54341f;
    --very-ligh-beige: #fff7f1;
    --ligh-beige: #f8e1cf;
    --beige: #b2927a;
    --dark-beige: #977260;
    --light-cofee: #d0a35e;
    --gray: #faf9f8;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-bolder: 900;
}

h2 {
    font-size: 4rem;
    margin: 0;
}

h3 {
    font-size: 2rem;
    margin: 0;
}

h4 {
    font-size: 1.4rem;
    margin: 0;
}

p {
    font-size: 2rem;
    margin: 0;
    font-weight: var(--fw-light);
}

.p-bold {
    font-weight: var(--fw-medium);
}

.p-italic {
    font-style: italic;
}

ul {
    margin: 0;
}

figure {
    margin: 0;
}

input {
    padding: 0 15px;
    height: 42px;
    border: 2px solid rgba(129, 129, 129, .2);
    box-shadow: none;
    font-size: 14px;
    margin-bottom: 2rem;
}

label {
    font-size: 2rem;
}

.button-transparent {
    border: 2px solid var(--gray);
    color: var(--gray);
    background-color: transparent;
    text-decoration: none;
    padding: 1.2rem 2rem;
    margin: 2rem;
    font-size: 1.6rem;
    display: inline-block;
}

.button-forms {
    height: auto;
    margin: 0;
    padding: .8rem;  
    color: white;
    background-color: var(--light-cofee);
    font-family: "Oswald", sans-serif;
    font-size: 1.4rem;
    margin-bottom: 2%;  
    width: 10rem; 
}

.button-1 {
    background-color: var(--gray);
    padding: .8rem;
    font-size: 1.6rem;
    text-decoration: none;
    margin-top: 1rem;
}

.parallax-container {
    position: relative;
    height: calc(100vh - 10rem);
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.parallax-img-container {
    height: 100%;
    width: 100%;
}

.parallax-img {
    height: 150%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(0);
    transition: transform 0.1s ease-out;
}



/* ---------- NAVBAR ---------- */

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    margin-top: -10rem;
    width: 100%;
    background-color: rgb(23, 23, 26, .9);
    z-index: 1
    ;
}

.navbar__a {
    font-size: 2rem;
    margin: 1.4rem 2vw;
    width: 15%;
    text-decoration: none;
    text-align: center;
    color: var(--light-cofee);
}

.navbar__a figure {
    height: 5rem;
}

.navbar__a figure img {
    height: 100%;
}

.navbar_ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 85%;
}

.navbar_ul_li {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin: 0 20px;
}

.navbar_ul_li__a {
    font-size: 1.4rem;
    font-weight: var(--fw-regular);
    text-decoration: none;
    color: var(--light-cofee);
    transition: all .4s;
}

.navbar_ul_li__a:hover {
    color: var(--ligh-beige);
}

/* ---------- FOOTER ---------- */

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--cofee);
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    padding: 2rem 0 1rem;
}

.footer-container h2 {
    width: 15%;
}

.footer-ul-li {
    list-style: none;
    margin: 1.4rem 0;
}

.footer-ul-li__a {
    font-size: 1.4rem;
    font-weight: var(--fw-light);
    color: var(--ligh-beige);
    text-decoration: none;    margin-top: 2rem;

}

.footer-p-container {
    border-top: 1px solid var(--light-cofee);
    padding: 2rem 0;
}

.footer-p-container p {
    font-size: 1.2rem;
    font-weight: var(--fw-light);
    margin: 0 4vw;
}

.suscribe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.suscribe-container h3 {
    text-align: center;
}

.form-footer {
    display: flex;
    flex-direction: row;
    height: 4rem;
    width: 100%;
    margin-bottom: 2rem;
}

.form-footer input {
    height: auto;
    margin: 0;
    border: 2px solid var(--black);
    width: 100%;
}

.form-footer button {
    height: auto;
    margin: 0;
    padding: .8rem;
    border: 2px solid var(--black);
    background-color: var(--black);
    color: var(--light-cofee);
    font-family: "Oswald", sans-serif;
    font-size: 1.4rem;
}

.social-icons-container {
    display: flex;
    flex-direction: row;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-beige);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 1rem;
}

.social-icon img {
    width: 32px;
    height: 32px;
}






