/* ---------- TRABAJA EN TDC ---------- */

.trabajaentdc-main {
    background-color: white;
    padding-top: 40px;
}

.trabajaentdc-h1 {
    color: #17171a;
    font-size: 4rem;
}

.trabajaentdc-h4 {
    color: #d0a35e;   
    font-size: 2rem;
    line-height: 20px;
}

.trabajaentdc-p {
    color: #464646;
    font-size: 2rem;
}

.trabajaentdc-div-title {
    display: flex;
    justify-content: center;
}

.trabajaentdc-div-line {
    background-color: #c7a17a;
    width: 120px;
    height: 2.5px;
    margin-bottom: 30px;
}

.trabajaentdc-form{
    padding-bottom: 2%;
    width: 100%;
}

.trabajaentdc-form-container {
    display: flex;  
    margin-right: 4%;  
    margin-left: 4%;
    justify-content: center;
    align-items: center;
}

.trabajaentdc-form-div {  
    margin: 2%;
    width: 100%;
}

.trabajaentdc-form-label {
    display: block;
    margin-bottom: 5px;
    color: #464646;
    font-weight: 400;
    font-size: 2rem;
}

.trabajaentdc-form-input {
    padding: 0 15px;
    max-width: 100%;
    width: 100%;
    height: 42px;
    border: 2px solid rgba(129, 129, 129, .2);
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    vertical-align: middle;
    font-size: 14px;  
}

.trabajaentdc-form-textarea {
    max-width: 100%;
    width: 100%;
    height: 190px;
    border: 2px solid rgba(129, 129, 129, .2);
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    vertical-align: middle;
    font-size: 14px;
    overflow: auto;
    padding: 10px 15px; 
}

.button-forms {
    border: none;
}

@media (max-width: 320px) {
   
    .trabajaentdc-form-div {  
        margin: 2%;
        align-items: flex-start;
        width: 100%;
        padding: 0 2rem 0 2rem;
        width: 100%;
    }

    .trabajaentdc-main {
        text-align: center;
    padding: 2rem 2rem 0 2rem;
    }

    .trabajaentdc-form-container {
        display: inline;
        text-align: start;
    }   

    .trabajaentdc-form-div label {
            font-size: 1.5rem;
    }

    .trabajaentdc-main p {
        font-size: 1.5rem;
    }

    .trabajaentdc-form-div {
        padding: 0 2%;
    }
}

@media (max-width: 770px) {

    .trabajaentdc-form-container {
        display: inline;
    }

    .trabajaentdc-p {   
    padding: 0 2rem 0 2rem;
    }
    
}